*.font					:   10x20
*.scrollBar				:   false
*.utf8					:   1

xterm*Font				:   10x20
xterm*scrollBar			:   false
xterm*utf8				:   1

Xft.dpi					:   96
Xft.antialias			:   1
Xft.hinting				:   1
Xft.hintstyle			:   hintmedium

! copy & paste
XTerm*selectToClipboard: true
XTerm*VT100.translations: #override \
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

