[user]
	name     = Raphaele Licciardo
	email    = raphaele.licciardo@atruvia.de
[rebase]
	pull     = true
[core]
    ; pager  = cat
[color]
	ui       = auto
	; ui     = always
[alias]

    # History - Log Alternatives
    recent   = "!f() { n=${1:-10}; git --no-pager log --decorate --oneline -n \"$n\"; }; f"
    timeline = "!f() { n=${1:-10}; git --no-pager log --graph --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(dim)%ad%C(reset) %C(auto)%s%C(reset) %C(dim)(%an)%C(reset)' --date=format:'%d %b %Y %H:%M' -n \"$n\"; }; f"

    stat     = !git --no-pager diff --shortstat && git --no-pager status --short  # show status and change summary
    client   = !lazygit                                                           # open lazygit UI
    head     = !git rev-parse HEAD                                                # print current commit
    changes  = !git diff --stat                                                   # show changed files summary
    branches = !git branch --sort=-committerdate                                  # list branches by recent activity
    current  = !git branch --show-current                                         # show current branch
    unpushed = !git log @{u}..HEAD --oneline                                      # show unpushed commits
    unpulled = !git log HEAD..@{u} --oneline                                      # show unpulled commits
    gone     = "!git fetch --prune && git branch -vv | awk '/: gone]/{print $1}'" # list deleted remote branches