[user]
	name = Raphaele Licciardo
	email = raphaele.licciardo@atruvia.de
[alias]
    client = !lazygit
[rebase]
	pull = true
[core]
	; pager = cat 
[color]
	ui = auto 
	; ui = always 
[alias]

    # show the recent n commits as a graph
    recent = "!f() { \
        n=${1:-10}; \
        git --no-pager log --pretty=format:'%C(yellow)%h%C(reset) %C(dim)%ad%C(reset) %C(auto)%s%C(reset)' --date=relative -n \"$n\"; \
    }; f"

    timeline = "!f() { \
        n=${1:-10}; \
        git --no-pager log --graph --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(dim)%ad%C(reset) %C(auto)%s%C(reset)' --date=format:'%d %b %Y %H:%M' -n \"$n\"; \
    }; f"

    # diff summary stats
    diffstat = !git --no-pager diff --shortstat

    # open lazygit UI
    client = !lazygit

