[user]
	email = raphaele.salvatore@outlook.de
    username = RaphaeleL 
	name = Raphaele Salvatore Licciardo
[github]
    user = RaphaeleL 
[color]
	ui = auto
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  log2 = log --pretty=format:'%h %an <%ae> %s'
	stat = diff --shortstat 
	client = !lazygit 
[pull]
	rebase = false
[init]
	defaultBranch = main

