[submodule "tms"]
	path = tms
	url = git@github.com:RaphaeleL/tms
[submodule "nvim"]
	path = nvim
	url = git@github.com:RaphaeleL/nvim
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:RaphaeleL/.emacs.d
