[submodule "nvim"]
	path = nvim
	url = https://github.com/RaphaeleL/nvim
[submodule "emacs"]
	path = emacs
	url = https://github.com/RaphaeleL/.emacs.d
[submodule "tms"]
	path = tms
	url = git@github.com:RaphaeleL/tms
