[
  {
    "url" : "\/Clipboard.clipboard",
    "enabled" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 1179648,
    "order" : 0,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "keyCode" : 49
  },
  {
    "url" : "\/Applications\/iTerm.app",
    "order" : 1,
    "enabled" : true,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "keyCode" : 17,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAGJKeph\/yaRrC0PzgwyAKG8rIwsiN9zDoit1zoUje\/pnTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADXjmwAAAAAAAgAAAAEAwAA86SMAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw7SOt4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEAADZCOTBFMTQ2LUQzNTEtNDNCMC1BNzNCLTc3NDAxMDUyNzJEQhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "url" : "\/System\/Applications\/Mail.app",
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAO5CZgFXyflVG8\/YjqRbg7WfZyJn8hl0kRjwC9w0nlRpYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAACAaAAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBxBTfxAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAANkI5MEUxNDYtRDM1MS00M0IwLUE3M0ItNzc0MDEwNTI3MkRCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "order" : 2,
    "keyCode" : 46,
    "modifierFlags" : 1179648,
    "openSelectedFolders" : true
  }, {
    "hideIfActive" : false,
    "enabled" : true,
    "modifierFlags" : 1179914,
    "keyCode" : 40,
    "openSelectedFolders" : true,
    "order" : 3,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAL0MOYR4c0ZMPDwBmJy00vurJx2qZcMZ6d\/hABml2ZSrZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAATB0AAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcQU38QAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAkAAAAAQEAADZCOTBFMTQ2LUQzNTEtNDNCMC1BNzNCLTc3NDAxMDUyNzJEQhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/System\/Applications\/Calendar.app"
  },
  {
    "order" : 4,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAMJtqB\/a3KLJ2ZAl78TVvu+8SkEeAKLAg5krI+p0AA58TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADXjmwAAAAAAAgAAAAEAwAATIKaAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxAmK+QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEAADZCOTBFMTQ2LUQzNTEtNDNCMC1BNzNCLTc3NDAxMDUyNzJEQhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "keyCode" : 1,
    "enabled" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 1179914,
    "hideIfActive" : false,
    "url" : "\/Applications\/Spotify.app"
  },
  {
    "enabled" : true,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAI86nzd1Wcsr6sWr3EVANtz603PYzpPvA9w0JnN03F5XVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAANeObAAAAAAACAAAAAQDAACD4AUAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEB+h3gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBxBTfxAAAACQAAAABAQAANkI5MEUxNDYtRDM1MS00M0IwLUE3M0ItNzc0MDEwNTI3MkRCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "url" : "\/Applications\/Google Chrome.app",
    "keyCode" : 11,
    "modifierFlags" : 1179914,
    "openSelectedFolders" : true,
    "order" : 5,
    "hideIfActive" : false
  }
]
